Source: prometheus-pdns-rec-exporter
Section: net
Priority: extra
Maintainer: Moritz Muehlenhoff <moritz@wikimedia.org>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), dh-python, python-all, python-setuptools
Standards-Version: 3.9.8

Package: prometheus-pdns-rec-exporter
Architecture: all
Depends: python-prometheus-client, ${misc:Depends}, ${python:Depends}
Description: Prometheus exporter for PowerDNS Recursor
 Prometheus exporter for PowerPNS Recursor server metrics.
